# Byte-/Cache-Dateien
__pycache__/
*.py[cod]
*.egg-info/

# Venv
.venv/

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log
watch.log

# Env/Secrets
.env
.env.*
!.env.example

# Python tooling
.pytest_cache/
.mypy_cache/

